/* poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    color: white;
}

.top-banner {
    display: flex;
    justify-content: center;
    background-color: #161616;
    width: 870px;
    border-radius: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.header1 {
    width: 40%;
    padding-top: 10%;
}

.header1 img {
    width: 100%;
    padding-left: 10%;

}

.button1 {
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
}

.fa-greater-than {
    padding-left: 10px;
}

/* second part */
/* left side */
.left-side {
    width: 312px;
    height: 150px;
}

.part1 {
    background-color: tomato;
    /* tomato */
    border: 1px solid black;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    margin-top: 10px;
}

.box1 {
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-direction: column;
    padding: 10px 15px;
}

.blog {
    padding-right: 15px;
}

/* right-side style */
body {
    background-color: #FFFFFF;
}

.container {
    display: flex;
    justify-content: end;
}

.box {
    width: 992px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.blog-img {
    width: 100%;
}

.blog-img2 {
    width: 15px;
    font-size: 15px;
}